<ul class="footer-container-2">
  <a
    title="Blue Devils"
    target="_blank"
    href="https://aljarafebluedevil.wixsite.com/pweb"
  >
    <img src="assets/assets/teams/bluedevils.png" alt="bluedevils" />
  </a>
  <a title="Cordoba Bulls" target="_blank" href="http://www.cordobabulls.com/">
    <img src="assets/assets/teams/cordobabulls.png" alt="cordobabulls" />
  </a>
  <a
    title="Corsarios"
    target="_blank"
    href="https://www.facebook.com/malagacorsairs/?locale=es_ES"
  >
    <img src="assets/assets/teams/corsarios.png" alt="corsarios" />
  </a>
  <a title="Jerez Jaguars" target="_blank" href="https://jerezjaguars.com/">
    <img src="assets/assets/teams/jerezjaguars.png" alt="Jerez Jaguars" />
  </a>
  <a title="Granada Lions" target="_blank" href="https://www.granadalions.es/">
    <img
      src="assets/assets/teams/legendsoflionsofficial.png"
      alt="Granada Lions"
    />
  </a>
  <a
    title="Montilla Circus"
    target="_blank"
    href="https://www.fefa.es/montilla-circus/"
  >
    <img src="assets/assets/teams/montillacircus.png" alt="Montilla Circus" />
  </a>
  <a
    title="Outlaw"
    target="_blank"
    href="https://www.instagram.com/outlawsflag/?hl=es"
  >
    <img src="assets/assets/teams/outlawflag.png" alt="Outlaw" />
  </a>
  <a
    title="Ohoenixfootballgrx"
    target="_blank"
    href="https://www.facebook.com/granadafootballcfa/"
  >
    <img
      src="assets/assets/teams/phoenixfootballgrx.png"
      alt="Phoenixfootballgrx"
    />
  </a>
  <a title="pionerslh" target="_blank" href="https://www.pionerslh.com/">
    <img src="assets/assets/teams/pionerslh.png" alt="pionerslh" />
  </a>
  <a
    title="Fuengirola Potros"
    target="_blank"
    href="https://www.fuengirolapotros.com/"
  >
    <img src="assets/assets/teams/potros.png" alt="Fuengirola Potros" />
  </a>
  <a
    title="Valkirias"
    target="_blank"
    href="https://www.facebook.com/valkiriasfootball/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0"
  >
    <img src="assets/assets/teams/valkiriasfootball.png" alt="Valkirias" />
  </a>
</ul>
