<ul class="footer-container-2">
  <!-- CONFERENCIA SUR -->
  <a
    title="Blue Devils"
    target="_blank"
    href="https://aljarafebluedevil.wixsite.com/pweb"
  >
    <img src="assets/teams/bluedevils.png" alt="bluedevils" />
  </a>

  <a
    title="Corsarios"
    target="_blank"
    href="https://www.facebook.com/malagacorsairs/?locale=es_ES"
  >
    <img src="assets/teams/corsarios.png" alt="corsarios" />
  </a>
  <a title="Jerez Jaguars" target="_blank" href="https://jerezjaguars.com/">
    <img src="assets/teams/jerezjaguars.png" alt="Jerez Jaguars" />
  </a>
  <a
    title="Fuengirola Potros"
    target="_blank"
    href="https://www.fuengirolapotros.es/"
  >
    <img src="assets/teams/potros.png" alt="Fuengirola Potros" />
  </a>

  <!-- CONFENRENCIA ESTE -->
  <a
    title="Alicante Thunder"
    target="_blank"
    href="https://alicantethunder.es/"
  >
    <img src="assets/teams/alicantethunder.png" alt="Alicante Thunder" />
  </a>
  <a
    title="Murcia Cobras"
    target="_blank"
    href="https://www.murciacobras.es/es"
  >
    <img src="assets/teams/murciacobras.png" alt="Murcia Cobras" />
  </a>
  <a
  title="Alicante Sharks"
  target="_blank"
  href="https://www.facebook.com/AlicanteSharks/?locale=es_ES"
>
  <img src="assets/teams/alicantesharks.png" alt="Alicante Sharks" />
</a>
<a
  title="Valencia Firebats"
  target="_blank"
  href="https://www.firebats.org/es"
>
  <img src="assets/teams/firebats.png" alt="Valencia Firebats" />
</a>
<a
  title="Valencia Giants"
  target="_blank"
  href="www.valenciagiants.com"
>
  <img src="assets/teams/valenciagiants.png" alt="Valencia Giants" />
</a>
<a
  title="Terrassa Reds"
  target="_blank"
  href="https://www.terrassareds.com/"
>
  <img src="assets/teams/terrassareds.png" alt="Terrassa Reds" />
</a>

<!-- CONFENRENCIA OESTE -->
<a
  title="Madrid Capitals"
  target="_blank"
  href="https://madridcapitals.com/"
>
  <img src="assets/teams/madridcapitals.png" alt="Madrid Capitals" />
</a>
<a
  title="Fuenlabrada Wolverines"
  target="_blank"
  href="https://wolverinesfuenlabrada.clupik.app/es"
>
  <img src="assets/teams/fuenlabradawolverines.png" alt="Fuenlabrada Wolverines" />
</a>
<a
  title="Jabatos Tres Cantos"
  target="_blank"
  href="https://jabatos.es/"
>
  <img src="assets/teams/jabatostrescantos.png" alt="Jabatos Tres Cantos" />
</a>
<a
  title="Telde Canes"
  target="_blank"
  href="https://www.teldecanes.es/index.php/es/"
>
  <img src="assets/teams/teldecanes.png" alt="Telde Canes" />
</a>
<a
  title="Guadalajara Stings"
  target="_blank"
  href="https://www.stingsguadalajara.com/"
>
  <img src="assets/teams/guadalajarastings.png" alt="Guadalajara Stings" />
</a>
<a
  title="Pinto Goldbats"
  target="_blank"
  href="https://www.pintogoldbats.es/"
>
  <img src="assets/teams/pintogoldbats.png" alt="Pinto Goldbats" />
</a>
  <!-- EQUIPOS INVENTADOS EN DESARROLLO  -->
  <!-- <a title="Cordoba Bulls" target="_blank" href="http://www.cordobabulls.com/">
    <img src="assets/teams/cordobabulls.png" alt="cordobabulls" />
  </a> -->
  <!-- <a title="Granada Lions" target="_blank" href="https://www.granadalions.es/">
    <img
      src="assets/teams/legendsoflionsofficial.png"
      alt="Granada Lions"
    />
  </a> -->
  <!-- <a
    title="Montilla Circus"
    target="_blank"
    href="https://www.fefa.es/montilla-circus/"
  >
    <img src="assets/teams/montillacircus.png" alt="Montilla Circus" />
  </a> -->
  <!-- <a
    title="Outlaw"
    target="_blank"
    href="https://www.instagram.com/outlawsflag/?hl=es"
  >
    <img src="assets/teams/outlawflag.png" alt="Outlaw" />
  </a> -->
  <!-- <a
    title="Ohoenixfootballgrx"
    target="_blank"
    href="https://www.facebook.com/granadafootballcfa/"
  >
    <img
      src="assets/teams/phoenixfootballgrx.png"
      alt="Phoenixfootballgrx"
    />
  </a> -->
  <!-- <a title="pionerslh" target="_blank" href="https://www.pionerslh.com/">
    <img src="assets/teams/pionerslh.png" alt="pionerslh" />
  </a> -->

  <!-- <a
    title="Valkirias"
    target="_blank"
    href="https://www.facebook.com/valkiriasfootball/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0"
  >
    <img src="assets/teams/valkiriasfootball.png" alt="Valkirias" />
  </a> -->
</ul>
