<footer>
    <ul class="footer-container-1">
        <li class="footer-container-1-CLUB">
            <a href="#footer-bottom">CLUB LINKS</a>
        </li>
        <li class="footer-container-1-FEFA">
            <a href="#footer-bottom">EQUIPOS LOCALES</a>
        </li>
        <li class="footer-container-1-MAS">
            <a href="#footer-bottom">MAS SITIOS FEFA</a>
        </li>
    </ul>
    <ul class="footer-container-2">
        <li><a href="./assets/pages/equipo.html">EQUIPO</a></li>
        <li><a href="./assets/pages/noticias.html">NOTICIAS</a></li>
        <li><a href="./assets/pages/videos.html">VIDEOS</a></li>
        <li><a href="./assets/pages/fotos.html">FOTOS</a></li>
        <li><a href="./assets/pages/campo.html">POLIDEPORTIVO</a></li>
        <li><a href="./assets/pages/calendario.html">CALENDARIO</a></li>
        <li><a href="./assets/pages/comunidad.html">COMUNIDAD</a></li>
        <li><a href="https://www.twitch.tv/100yardas">DIA DE PARTIDO</a></li>
        <li><a href="./assets/pages/entradas.html">ENTRADAS</a></li>
    </ul>
    <div class="footer-flex-container-column">
        <a href="#Top">
            <img src="./assets/assets/logoEdit.png" alt="Logo" />
        </a>
        <h5>COPYRIGHT © FUENGIROLA POTROS, INC.</h5>
        <ul class="footer-container-3" id="footer-bottom">
            <li>
                <a href="./assets/pages/legal/politica_privacidad.html">
                    POLÍTICA DE PRIVACIDAD
                </a>
            </li>
            <li><a href="./assets/pages/legal/contacto.html">CONTÁCTENOS</a></li>
            <li><a href="./assets/pages/legal/accesibilidad.html">ACCESIBILIDAD</a></li>
            <li><a href="./assets/pages/legal/mapa.html">MAPA DEL SITIO</a></li>
            <li><a href="./assets/pages/legal/anuncios.html">OPCIONES DE ANUNCIOS</a></li>
            <li>
                <a href="./assets/pages/legal/privacidad.html">
                    TUS ELECCIONES DE PRIVACIDAD
                </a>
            </li>
        </ul>
    </div>
    <script src="./assets/js/footerDisplay.js"></script>
</footer>