<header>
  <figure class="banner">
    <img src="assets/banner.png" alt="banner-img" class="banner-img" title="FUENGIROLA POTROS"/>
  </figure>
  <nav class="header-nav">
    <ul>
      <li id="nav-logo">
        <a routerLink="/main" id="pagInicio">
          <img src="./assets/logoEdit.png" alt="logo" class="logo-nav" title="Pagina Principal" />
        </a>
      </li>
      <li><a routerLink="/noticias">Noticias</a></li>
      <li><a routerLink="/videos">Videos</a></li>
      <li><a routerLink="/fotos">Fotos</a></li>
      <li><a routerLink="/calendario">Calendario</a></li>
      <li><a routerLink="/equipo">Equipo</a></li>
      <li><a routerLink="/campo">Campo de Juego</a></li>
    </ul>
    <ul>
      <li><a href="https://www.twitch.tv/100yardas" target="_blank">Ver</a></li>
      <li id="nav-entradas"><a routerLink="/entradas">Entradas</a></li>
      <li id="li-hamburguer-btn">
        <button id="hamburguer-btn" (click)="toggleMenu()">&nbsp;&nbsp;</button>
      </li>
    </ul>
  </nav>
  <div *ngIf="menuVisible" class="dropdown-menu">
    <ul>
      <li><a routerLink="/main" (click)="closeMenu()">Inicio</a></li>
      <li><a routerLink="/noticias" (click)="closeMenu()">Noticia</a></li>
      <li><a routerLink="/videos" (click)="closeMenu()">Video</a></li>
      <li><a routerLink="/fotos" (click)="closeMenu()">Fotos</a></li>
      <li><a routerLink="/calendario" (click)="closeMenu()">Calendario</a></li>
      <li><a routerLink="/equipo" (click)="closeMenu()">Equipo</a></li>
      <li><a routerLink="/campo" (click)="closeMenu()">Campo de Juego</a></li>
      <li><a routerLink="/mapa" (click)="closeMenu()">Mapa</a></li>
      <li>
        <a
          href="https://www.twitch.tv/100yardas"
          target="_blank"
          (click)="closeMenu()"
          >Ver en Twitch</a
        >
      </li>
      <li><a (click)="closeMenu()">- Volver -</a></li>
    </ul>
  </div>
  <div class="logo-container">
    <a href="https://www.fuengirola.es/">
      <img
        id="logo-ayuntamiento"
        src="/assets/logo_ayuntamiento.png"
        alt="ayuntamiento"
      />
    </a>
  </div>
</header>
