<header>
    <figure class="banner">
        <img src="assets/assets/banner.png" alt="banner-img" class="banner-img" />
    </figure>
    <!-- El nav debe ser sticky top -->
    <nav class="header-nav">
        <ul>
            <a href="#Top">
            <li id="nav-logo">
                <img src="./assets/assets/logoEdit.png" alt="logo" class="logo-nav" />
            </li>
            </a>
            <li><a href="./assets/pages/noticias.html">Noticias</a></li>
            <li><a href="./assets/pages/videos.html">Videos</a></li>
            <li><a href="./assets/pages/podcasts.html">Podcasts</a></li>
            <li><a href="./assets/pages/fotos.html">Fotos</a></li>
            <li><a href="./assets/pages/calendario.html">Calendario</a></li>
            <li><a href="./assets/pages/equipo.html">Equipo</a></li>
            <li><a href="./assets/pages/campo.html">Campo de Juego</a></li>
            <li><a href="./assets/pages/comunidad.html">Comunidad</a></li>
        </ul>
        <ul>
            <li><a href="https://www.twitch.tv/100yardas">Ver</a></li>
            <li><a href="./assets/pages/socios.html">Socios</a></li>
            <li id="nav-entradas"><a href="./assets/pages/entradas.html">Entradas</a></li>
            <li id="nav-tienda"><a href="./assets/pages/tienda.html">Tienda</a></li>
            <li class="hidden" id="li-hamburguer-btn">
                <button id="hamburguer-btn" onclick="toggleMenu()">
                    &nbsp;&nbsp;
                </button>
                <script src="assets/js/toggleMenu.js"></script>
            </li>
        </ul>
    </nav>
</header>