<h1>Plantilla</h1>

<h2>Jugadores en Activo</h2>
<table class="team-table">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Dorsal</th>
      <th>Posición</th>
      <th>Edad</th>
      <th>Nacionalidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of teamList">
      <td>
        <img
          [src]="getImageUrl(jugador.foto_jugador)"
          alt="foto_jugador"
          class="player-image"
        />
      </td>
      <td>{{ jugador.nombre_jugador }}</td>
      <td>{{ jugador.apellido_jugador }}</td>
      <td>{{ jugador.dorsal }}</td>
      <td>{{ jugador.posicion }}</td>
      <td>{{ jugador.edad }}</td>
      <td>{{ jugador.nacionalidad }}</td>
    </tr>
  </tbody>
</table>

<h2>Cuerpo Técnico</h2>
<table class="info-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Posición</th>
      <th>País</th>
    </tr>
  <tbody>
    <tr>
      <td>Kevin Prior</td>
      <td>Head Coach</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>Ian Froment</td>
      <td>Entrenador Asistente</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>John Pereira</td>
      <td>Entrenador Asistente</td>
      <td>EE.UU.</td>
    </tr>
    <tr>
      <td>Yayo Perez</td>
      <td>Técnico Asistente</td>
      <td>España</td>
    </tr>
  </tbody>
</table>
<div class="grid-container">
  <div class="grid-item"><img src="assets/images/equipo/staff/WELCOME-Kevin.png" alt="Kevin"></div>
  <div class="grid-item"><img src="assets\images\equipo\staff\WELCOME-Ian.png" alt="Ian"></div>
  <div class="grid-item"><img src="assets\images\equipo\staff\WELCOME-John.png" alt="John"></div>
  <div class="grid-item"><img src="assets\images\equipo\staff\WELCOME-YAYO.png" alt="YAYO"></div>
</div>
