<h1>ENTRADA GRATIS</h1>
<h2>¡Bienvenidos al emocionante mundo del <b>fútbol americano</b>!</h2>
<div class="text-center">
  <p>
    En nuestro equipo, creemos firmemente en compartir la pasión por este
    deporte con nuestra comunidad.
    <br />
    <br />
    Para reunir a la mayor afición posible hemos decidido mantener un
    <b>acceso gratuito</b> para ver nuestros partidos.
  </p>
</div>

<div class="flex-container">
  <div id="map"></div>
  <img src="assets/freeaccess.png" alt="free access" />
</div>
<div class="text-center">
  <p>
    Entendemos que en nuestra región no existe una gran afición al fútbol
    americano, pero eso no nos detiene en nuestro
    <b>compromiso de promover este deporte</b> y ofrecer entretenimiento de
    calidad a nuestros espectadores. Queremos que cada persona que desee
    disfrutar de un emocionante partido pueda hacerlo sin preocupaciones
    económicas.
  </p>

  <p>
    Al ofrecer <b>entrada gratuita</b>, queremos eliminar cualquier barrera que
    pueda existir para que las personas se acerquen y conozcan este deporte
    apasionante. Nuestro objetivo es <b>fomentar una comunidad unida</b> y
    comprometida con el fútbol americano, donde todos se sientan bienvenidos y
    parte de algo especial.
  </p>

  <p>
    Nos comprometemos a brindar un <b>ambiente seguro y emocionante</b> en cada
    uno de nuestros encuentros. Ya sea que seas un aficionado de toda la vida o
    simplemente estés buscando una nueva experiencia, te invitamos a unirte a
    nosotros en las gradas y disfrutar de la emoción del fútbol americano
    provincial.
  </p>

  <p>
    En nuestro equipo, la <b>pasión</b> por el deporte y el
    <b>compromiso</b> con nuestra <b>comunidad</b> son nuestros pilares
    fundamentales. Te garantizamos que cada partido será una experiencia
    inolvidable, llena de emoción, camaradería y, lo más importante,
    <b>¡diversión para toda la familia!</b>
  </p>
</div>
