<main>
    <h1>Videos Federación Española de Fútbol Americano</h1>
    <div class="video-container">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/KPNleQiTQiA?si=ksngTZdN69LfFS5B"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/7YmdTswoEEg?si=z9JuaL4cgbk0WNuz"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div id="contenido-extra"></div>
    <button id="ver-mas" onclick="verMasContenido()">
        Ver más contenido
    </button>
    <script src="../../../assets/js/videoLoader.js"></script>
</main>