<div class="container">
  <h1>Mis Elecciones de Privacidad</h1>
  <form [formGroup]="privacyForm" (ngSubmit)="submitForm()">
    <div class="cookie-config">
      <div class="cookie-config-item">
        <label for="cookies-esenciales">cookies-esenciales:</label>
        <select id="cookies-esenciales" formControlName="cookies-esenciales">
          <option value="aceptadas">aceptadas</option>
          <option value="denegadas">denegadas</option>
          <option value="permitidas">permitidas</option>
        </select>
      </div>
      <div class="cookie-config-item">
        <label for="cookies-de-rendimiento">cookies-de-rendimiento:</label>
        <select
          id="cookies-de-rendimiento"
          formControlName="cookies-de-rendimiento"
        >
          <option value="aceptadas">aceptadas</option>
          <option value="denegadas">denegadas</option>
          <option value="permitidas">permitidas</option>
        </select>
      </div>
      <div class="cookie-config-item">
        <label for="cookies-de-publicidad">cookies-de-publicidad:</label>
        <select
          id="cookies-de-publicidad"
          formControlName="cookies-de-publicidad"
        >
          <option value="aceptadas">aceptadas</option>
          <option value="denegadas">denegadas</option>
          <option value="permitidas">permitidas</option>
        </select>
      </div>
      <div class="cookie-config-item">
        <label for="cookies-de-redes-sociales"
          >cookies-de-redes-sociales:</label
        >
        <select
          id="cookies-de-redes-sociales"
          formControlName="cookies-de-redes-sociales"
        >
          <option value="aceptadas">aceptadas</option>
          <option value="denegadas">denegadas</option>
          <option value="permitidas">permitidas</option>
        </select>
      </div>
    </div>
    <button type="submit">Guardar Configuración</button>
  </form>
  <p class="details">
    <strong>Información Adicional:</strong>
    A pesar de facilitar la manipulacion de Cookies en este menu, puedes revisar
    y cambiar tus preferencias de cookies en cualquier momento desde la
    configuración de privacidad de tu navegador o dispositivo.
  </p>
</div>
