<ul class="footer-container-2">
    <li><a routerLink="/equipo">EQUIPO</a></li>
    <li><a routerLink="/noticias">NOTICIAS</a></li>
    <li><a routerLink="/videos">VIDEOS</a></li>
    <li><a routerLink="/fotos">FOTOS</a></li>
    <li><a routerLink="/campo">POLIDEPORTIVO</a></li>
    <li><a routerLink="/calendario">CALENDARIO</a></li>
    <li><a routerLink="/comunidad">COMUNIDAD</a></li>
    <li><a href="https://www.twitch.tv/100yardas" target="_blank">DIA DE PARTIDO</a></li>
    <li><a routerLink="/entradas">ENTRADAS</a></li>
</ul>