.info-fefa-lnfa2{
  text-align: center;
  padding: 1em;
  text-shadow: 2px 2px 6px #2a5337;
}

.center-calendario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendario-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 1200px;
}

.partido-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.partido-content .info-local,
.partido-content .info-visitante {
  display: flex;
  align-items: center;
}

.partido-content .info-partido {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.marcador_local, .marcador_visitante {
  padding: 40px;
  font-size: 44px;
}

.logo {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  margin-left: 10px;
}

.fecha {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.jornada {
  display: block;
  color: #666;
  margin-bottom: 5px;
}

.hora {
  display: block;
  font-weight: bold;
  font-size: 1.75em;
  color: #222;
  margin-bottom: 6px;
}

@media (max-width: 1115px) {
  .calendario-item {
    width: 600px;
    margin: 10px auto;
  }
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 6px;
    margin-left: 6px;
  }
  .partido-content .info-local,
  .partido-content .info-visitante,
  .fecha,
  .jornada {
    font-size: 0.75em;
  }
}

@media (max-width: 725px) {
  .calendario-item {
    width: auto;
  }

  .partido-content .info-local,
  .partido-content .info-visitante,
  .fecha,
  .jornada {
    font-size: 0.4em;
  }
  .marcador_local, .marcador_visitante {
    padding: 16px;
    font-size: 18px;
  }
  .hora {
    font-size: .5em;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-right: 4px;
  }
}
