<div class="center-calendario">
  <div class="calendario-item" *ngFor="let partido of calendarList">
    <div class="partido-content">
      <div class="info-local">
        <img
          [src]="getImageUrl(partido.logo_local)"
          alt="logo_local"
          class="logo"
        />
        <h3>{{ partido.local }}</h3>
      </div>
      <div class="info-partido">
        <strong class="fecha">{{ partido.fecha }}</strong>
        <strong class="hora">{{ partido.hora }}</strong>
        <span class="jornada">{{ partido.jornada }}</span>
      </div>
      <div class="info-visitante">
        <h3>{{ partido.visitante }}</h3>
        <img
          [src]="getImageUrl(partido.logo_visitante)"
          alt="logo_visitante"
          class="logo"
        />
      </div>
    </div>
  </div>
</div>
<div class="estado-temporal">Información sobre el calendario de la liga por confirmar</div>