<div class="info-fefa-lnfa2">
  <a href="https://www.fefa.es/lnfa-2-2024-2025/" target="_blank">Toda la información en la página oficial FEFA LNFA-2</a>
</div>
<div class="center-calendario">
  <div class="calendario-item" *ngFor="let partido of calendarList">
    <div class="partido-content">
      <div class="info-local">
        <img
          [src]="getImageUrl(partido.logo_local)"
          alt="logo_local"
          class="logo"
        />
        <h3>{{ partido.local }}</h3>
      </div>
      <div class="info-partido">
        <strong class="fecha">{{ partido.fecha }}</strong>
        <strong class="hora">{{ partido.hora }}</strong>
        <span class="jornada">{{ partido.jornada }}</span>
      </div>
      <div class="info-visitante">
        <h3>{{ partido.visitante }}</h3>
        <img
          [src]="getImageUrl(partido.logo_visitante)"
          alt="logo_visitante"
          class="logo"
        />
      </div>
    </div>
  </div>
</div>