body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}
.container {
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
	display: block;
	margin-bottom: 10px;
}
input,
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
.error {
	color: red;
	font-size: 14px;
    font-weight: 600;
    margin-bottom: 2rem;
}
h2 {
    padding: 1rem 0rem;
}

button {
	transition: all 1s ease;
	margin-top: 10px; /* Espacio entre el último video y el botón */
	padding: 0.5rem;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #085c16;
}

button:hover {
	background-color: #fcb215;
	border: 1px solid #085c16;
	color: #06342d;
}