/* Estilos para el botón "Ver más contenido" */
#ver-mas {
	transition: all 1s ease;
	margin-top: 10px; /* Espacio entre el último video y el botón */
	padding: 0.5rem;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #085c16;
}

#ver-mas:hover {
	background-color: #fcb215;
	border: 1px solid #085c16;
	color: #06342d;
}

@media (max-width: 768px) {
	/* Estilos para los iframes de YouTube */
	iframe {
		max-width: 100%;
		height: auto;
		margin-bottom: 20px; /* Espacio entre los iframes */
	}
}
