<!-- campo.component.html -->
<div class="polideportivo" [ngClass]="{ 'content-behind-modal': modalActive }">
  <h1>Polideportivo Municipal Elola</h1>
  <hr />
  <p>Bienvenido al Polideportivo Municipal Elola en Fuengirola, Málaga.</p>
  <p>
    Este moderno complejo deportivo ofrece instalaciones de primera clase para
    atletas de todas las disciplinas.
  </p>
  <p>
    Desde campos de fútbol hasta pistas de atletismo y piscinas, el
    Polideportivo Municipal Elola es el lugar ideal para entrenar y competir a
    cualquier nivel.
  </p>
  <div id="map"></div>

  <section>
    <div class="grid-container-elola">
      <img
        src="assets/elola/elola1.jpg"
        alt="elola1"
        (click)="showImage('assets/elola/elola1.jpg')"
      />
      <img
        src="assets/elola/elola2.jpg"
        alt="elola2"
        (click)="showImage('assets/elola/elola2.jpg')"
      />
      <img
        src="assets/elola/elola3.jpg"
        alt="elola3"
        (click)="showImage('assets/elola/elola3.jpg')"
      />
      <img
        src="assets/elola/elola4.jpg"
        alt="elola4"
        (click)="showImage('assets/elola/elola4.jpg')"
      />
    </div>
  </section>

  <!-- Modal para mostrar la imagen ampliada -->
  <div class="modal" [class.active]="modalActive" (click)="hideImage()">
    <span class="close" (click)="hideImage()">&times;</span>
    <img [src]="modalImageUrl" alt="Ampliacion" class="modal-content" />
  </div>
</div>
<div class="turismo">
  <h2>Aprovecha la buena ubicación del Polideportivo Elola</h2>
  <!-- Sección 1: Playas -->
  <section>
    <h3>Descubre las Playas de Fuengirola</h3>
    <p>
      Disfruta del sol y el mar en las hermosas playas de Fuengirola. Desde
      amplias extensiones de arena dorada hasta calas tranquilas, hay una playa
      para todos los gustos.
    </p>
    <p>Estas son algunas de las playas mas populares</p>
    <ul>
      <li><a href="https://www.visitacostadelsol.com/malaga-costa-del-sol/playas/playa-de-los-boliches-p20571" target="_blank">Playa de Los Boliches</a></li>
      <li><a href="https://www.visitacostadelsol.com/malaga-costa-del-sol/playas/playa-de-fuengirola-santa-amalia-p20661" target="_blank">Playa de Santa Amalia</a></li>
      <li><a href="https://www.visitacostadelsol.com/malaga-costa-del-sol/playas/playa-de-carvajal-p20261" target="_blank">Playa de Carvajal</a></li>
    </ul>
  </section>

  <!-- Sección 2: Gastronomía -->
  <section>
    <h3>Descubre la Gastronomía Local</h3>
    <p>
      Sumérgete en la deliciosa cocina local de Fuengirola, que ofrece una
      amplia variedad de platos tradicionales andaluces y mariscos frescos.
    </p>
    <p>Prueba algunos platos típicos, como:</p>
    <ul>
      <li>Gambas al Ajillo</li>
      <li>Pescaíto Frito</li>
      <li>Paella</li>
    </ul>
    <a class="comer" href="https://www.visitacostadelsol.com/malaga-costa-del-sol/gastronomia" target="_blank">Dónde comer</a>
    <p>
      No te pierdas los encantadores restaurantes frente al mar que ofrecen
      vistas impresionantes y una experiencia culinaria inolvidable.
    </p>
  </section>
</div>
