<main>
    <h1>Polideportivo Municipal Elola</h1>
    <hr>
    <p>Lugar de entrenamiento <a href="https://www.fuengirola.es/item/complejo-polideportivo-municipal-elola/">POLIDEPORTIVO MUNICIPAL ELOLA</a> en Fuengirola, Málaga. Este polideportivo esta provisto de campo de futbol 11, pista de atletismo, pistas interiores, piscina, ... <br> Es un lugar ideal para sacar un alto rendimiento a cuaquier deportista que decida entrenar en este entorno.</p>
    <br>
    <hr>
    <div id="map"></div>
    <br>
    <script src="assets/js/mapa.js"></script>

    <section>
        <h3>Algunas imagenes del polideportivo municial</h3>
        <div class="grid-container-elola">
            <img src="assets/assets/elola/elola1.jpg" alt="elola1">
            <img src="assets/assets/elola/elola2.jpg" alt="elola2">
            <img src="assets/assets/elola/elola3.jpg" alt="elola3">
            <img src="assets/assets/elola/elola4.jpg" alt="elola4">
        </div>
    </section>
</main>