<div class="polideportivo">
  <h1>Polideportivo Municipal Elola</h1>
  <hr />
  <p>Bienvenido al Polideportivo Municipal Elola en Fuengirola, Málaga.</p>
  <p>
    Este moderno complejo deportivo ofrece instalaciones de primera clase para
    atletas de todas las disciplinas.
  </p>
  <p>
    Desde campos de fútbol hasta pistas de atletismo y piscinas, el
    Polideportivo Municipal Elola es el lugar ideal para entrenar y competir a
    cualquier nivel.
  </p>

  <br />
  <hr />
  <div id="map"></div>
  <br />
  <script src="assets/js/mapa.js"></script>

  <section>
    <h3>Galería de imágenes</h3>
    <div class="grid-container-elola">
      <img src="assets/assets/elola/elola1.jpg" alt="elola1" />
      <img src="assets/assets/elola/elola2.jpg" alt="elola2" />
      <img src="assets/assets/elola/elola3.jpg" alt="elola3" />
      <img src="assets/assets/elola/elola4.jpg" alt="elola4" />
    </div>
  </section>
</div>
