.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }
  
  .slide {
    min-width: 100%;
    transition: opacity 1s ease;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  