<hr />
<div id="scrollTop">
  <a (click)="scrollToTop()">
    <img src="./assets/logoEdit.png" alt="Ir Inicio" title="Ir al inicio"/>
  </a>
  <a href="https://www.instagram.com/fuengirolapotros/" target="_blank">
    <img src="/assets/instagram-logo.png" alt="instagram" id="instagram" title="Instagram">
  </a>
</div>

<div class="flex-container">
  <ul>
    <li><a routerLink="politica-privacidad">POLÍTICA DE PRIVACIDAD</a></li>
    <li><a routerLink="contacto">CONTÁCTENOS</a></li>
    <li><a routerLink="accesibilidad">ACCESIBILIDAD</a></li>
    <li><a routerLink="mapa">MAPA DEL SITIO</a></li>
    <li><a routerLink="anuncios">SU ANUNCIO</a></li>
    <li><a routerLink="privacidad">TUS ELECCIONES DE PRIVACIDAD</a></li>
  </ul>
</div>

<h5>COPYRIGHT © FUENGIROLA POTROS, INC.</h5>
