.flex-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.flex-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/trophies.jpg');
  background-size: cover; /* Ensure image covers the whole container */
  background-position: center;
  background-attachment: fixed; /* Make background static */
  z-index: -1; /* Ensure the background is behind content */
}

.flex-container > * {
  position: relative; /* Ensure the content is above the background */
  z-index: 1;
}
