.next-mach {
  font-size: 14px;
  line-height: 1.4;
  background-color: #fff;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
  width: 100%; /* Asegura que el grid-container ocupe el 100% del ancho del main */
  max-width: inherit; /* Hereda la max-width del main */
}

.next-mach_date {
  grid-column-start: 1;
  grid-column-end: 4;
}

.next-mach_visiting {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.next-mach_socialmedia {
  grid-column-start: 1;
  grid-column-end: 2;
}

.next-mach_socialmedia a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.next-mach_visiting img {
  width: 72px;
  height: 72px;
}

.next-mach_home {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.next-mach_home img {
  width: 72px;
  height: 72px;
}

.next-mach_home_info h2 {
  text-align: end;
}

.next-mach_home_info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.next-mach p,
.next-mach span {
  font-size: 0.75rem;
  font-weight: 600;
}

.next-mach p {
  color: #151515;
}

.next-mach span {
  color: #757575;
}

/* BOTONES */
.next-mach_buttons {
  display: inline-flex;
  justify-content: center;
  margin: 1rem 0rem;
  gap: 0.5rem;
}

/* BOTONES */
.button-size {
  width: 125px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.button-size:hover {
  opacity: 0.8;
}

.button-class11 {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #085c16;
}

.button-class21 {
  background-color: #fcb215;
  border: 1px solid #085c16;
  color: #06342d;
}

.button-class31 {
  background-color: #06342d;
  border: 1px solid #fcb215;
  color: #fcb215;
}

.hidden {
  display: none;
}

/* NOTICIAS */
.news-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.mas-contenido {
  margin: 50px 0;
  text-align: center;
}

#insta-container {
  transition: all .3s ease;
}

#insta-container:hover {
   filter: brightness(1.2) contrast(1.2) drop-shadow(0 0 .25rem var(--color-secundario-1));
}

#instagram {
  width: 125px;
}

h3 {
  padding: 0.5em;
}
@media (max-width: 1000px) {
  .next-mach {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .next-mach > * {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .next-mach_buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0rem;
    gap: 0.5rem;
    justify-self: center;
  }

  .next-mach_home_info {
    order: 2;
  }

  .next-mach_home_info + img,
  .next-mach_visiting img {
    width: 40px;
    height: 40px;
  }

  .next-mach_home_info,
  .next-mach_home_info h2 {
    align-items: start;
    text-align: start;
  }

  .button-class21 {
    height: 60px;
  }

  #Visiting_team,
  #Home_team {
    font-size: 1rem;
  }

  .news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
  }

  /* --- CAROUSEL --- */
  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: white;
    margin: 2rem auto;
  }
}

@media (max-width:725px) {
  .news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
  }
}

.revisar {
  color: red;
  font-weight: 600;

}