<app-carousel></app-carousel>

<div *ngIf="next_existe" class="next-mach">
  <div class="next-mach_date">
    <p>
      {{ next_fecha }}
      <span class="fecha-hora">a las {{ next_hora }} GMT+1</span>
    </p>
    <p>{{ next_jornada }}</p>
  </div>
  <div class="next-mach_visiting">
    <img [src]="next_logo_visitante" alt="Logo visiting team" />
    <div class="next-mach_visiting_info">
      <h2 id="Visiting_team">{{ next_visitante }}</h2>
      <span><!-- Estadisticas de Victorias - Derrotas, del equipo visitante  --></span>
    </div>
  </div>
  <div class="next-mach_home">
    <div class="next-mach_home_info">
      <h2 id="Home_team">{{ next_local }}</h2>
      <span><!-- Estadisticas de Victorias - Derrotas, del equipo local  --></span>
    </div>
    <img [src]="next_logo_local" alt="Logo home team" />
  </div>
  <div class="next-mach_home"></div>
  <div class="next-mach_socialmedia">
    <a target="_blank" href="https://www.youtube.com/@fefa_spain/streams">
      <img
        src="../../../assets/youtube.png"
        alt="youtube"
        style="width: 30px; height: 30px"
      />
      <span>LIVE YT</span>
    </a>
  </div>
  <div class="next-mach_buttons">
    <a target="_blank" href="https://www.twitch.tv/100yardas">
      <button class="button-class11 button-size">Ver en Twitch</button>
    </a>
    <a routerLink="/entradas">
      <button class="button-class21 button-size">Ver en presencial</button>
    </a>
    <a routerLink="/socios">
      <button class="button-class31 button-size">+ Información</button>
    </a>
  </div>
</div>

<div *ngIf="!next_existe" class="next-mach">
  <p class="next-mach_date">
    Próximo partido por definir
  </p>
  <div class="next-mach_home"></div>
  <div class="next-mach_socialmedia">
    <a target="_blank" href="https://www.youtube.com/@fefa_spain/streams">
      <img
        src="../../../assets/youtube.png"
        alt="youtube"
        style="width: 30px; height: 30px"
      />
      <span>LIVE YT</span>
    </a>
  </div>
  <div class="next-mach_buttons">
    <a target="_blank" href="https://www.twitch.tv/100yardas">
      <button class="button-class11 button-size">Ver en Twitch</button>
    </a>
    <a routerLink="/entradas">
      <button class="button-class21 button-size">Ver en presencial</button>
    </a>
    <a routerLink="/noticias">
      <button class="button-class31 button-size">+ Información</button>
    </a>
  </div>
</div>

<div class="noticias-container-padre">
  <h2>Ultimas noticias</h2>
  <app-noticias-to-main class="news-container"></app-noticias-to-main>
</div>

<div class="Instagram-container">
  <h2>Media</h2>
  <app-fotos></app-fotos>
</div>

<hr />

<section class="mas-contenido">
  <h3>¿Quieres ver más contenido?</h3>
  <a
    href="https://www.instagram.com/fuengirolapotros/"
    target="_blank"
    id="insta-container"
  >
    <p>Siguenos en Instagram!</p>
    <img src="/assets/instagram-logo.png" alt="instagram" id="instagram" />
  </a>
</section>
