<div class="next-mach">
  <div class="next-mach_date">
    <p>
      SEMANA 11
      <span class="fecha-hora">• DOM 11/19 • 12:00 PM GMT+1</span>
    </p>
  </div>
  <div class="next-mach_visiting">
    <img
      src="../../../assets/assets/Logo_corsarios.png"
      alt="Logo visiting team"
    />
    <div class="next-mach_visiting_info">
      <h2 id="Visiting_team">MALAGA CORSAIRS</h2>
      <span>4-5</span>
    </div>
  </div>
  <div class="next-mach_home">
    <div class="next-mach_home_info">
      <h2 id="Home_team">FUENGIROLA POTROS</h2>
      <span>3-6</span>
    </div>
    <img src="../../../assets/assets/logoEdit.png" alt="Logo home team" />
  </div>
  <div class="next-mach_home"></div>
  <div class="next-mach_socialmedia">
    <a target="_blank" href="https://www.youtube.com/@fefa_spain/streams">
      <img
        src="../../../assets/assets/youtube.png"
        alt="youtube"
        style="width: 30px; height: 30px"
      />
      <span>LIVE YT</span>
    </a>
  </div>
  <div class="next-mach_buttons">
    <a target="_blank" href="https://www.twitch.tv/100yardas">
      <button class="button-class11 button-size">Ver en Twitch</button>
    </a>
    <a routerLink="/entradas">
      <button class="button-class21 button-size">Comprar Entradas</button>
    </a>
    <a routerLink="/socios">
      <button class="button-class31 button-size">+ Información</button>
    </a>
  </div>
</div>

<app-carousel></app-carousel>

<br />
<span class="revisar">REVISAR SI SE PUEDEN CARGAR ALGUNAS IMAGENES USANDO LA API DE INSTAGRAM</span>
<br />

<div>
  <app-noticias-to-main class="news-container"></app-noticias-to-main>
</div>

<hr />

<br /><br />
<section>
  <h3>¿Quieres ver más contenido?</h3>
  <button class="button-class21 button-size">
    <a routerLink="/socios">Socios</a>
  </button>
</section>