<main>
  <div class="toCenter">
    <div class="container">
      <h1>Su Anuncio</h1>
      <h2>Visibilize y Posicione su Negocio</h2>
      <ul>
        <li>
          <strong>Publicidad Online:</strong>
          Anuncios en redes sociales como Facebook, Instagram, Twitter,
          LinkedIn, etc.
        </li>
        <li>
          <strong>Publicidad en Buscadores:</strong>
          Anuncios en Google Ads, Bing Ads, etc., para aparecer en los
          resultados de búsqueda relevantes para tu negocio.
        </li>
        <li>
          <strong>Publicidad en Páginas Web:</strong>
          Colocación de banners publicitarios en sitios web relacionados con tu
          sector o nicho de mercado.
        </li>
        <li>
          <strong>Email Marketing:</strong>
          Envío de correos electrónicos promocionales a una lista de
          suscriptores interesados en tu producto o servicio.
        </li>
        <li>
          <strong>SEO (Optimización de Motores de Búsqueda):</strong>
          Mejora de la visibilidad orgánica de tu sitio web en los resultados de
          búsqueda de Google u otros buscadores.
        </li>
        <li>
          <strong>Patrocinio de Eventos:</strong>
          Colaboración con eventos locales, deportivos, culturales o de otro
          tipo para mostrar el nombre de tu negocio.
        </li>
        <li>
          <strong>Salida en la Camiseta de un Club:</strong>
          Patrocinio de un equipo deportivo local para que tu logo aparezca en
          su equipación.
        </li>
        <li>
          <strong>Publicidad en Transporte Público:</strong>
          Colocación de anuncios en autobuses, taxis, o estaciones de metro para
          llegar a un amplio público.
        </li>
        <li>
          <strong>Publicidad en Medios Impresos:</strong>
          Anuncios en periódicos locales, revistas especializadas, folletos,
          etc.
        </li>
        <li>
          <strong>Publicidad en Vallas Publicitarias:</strong>
          Colocación de carteles publicitarios en lugares estratégicos de la
          ciudad.
        </li>
        <li>
          <strong>Patrocinio de Equipos Deportivos:</strong>
          Patrocinar equipos deportivos locales o eventos deportivos para
          aumentar la visibilidad de tu negocio.
        </li>
        <li>
          <strong>Participación en Ferias y Eventos:</strong>
          Stand promocional en ferias comerciales, exposiciones, conferencias u
          otros eventos donde puedas interactuar directamente con tu público
          objetivo.
        </li>
        <li>
          <strong>Apariciones en Redes Sociales:</strong>
          Colaboración con influencers o creadores de contenido para que
          promocionen tu negocio en sus perfiles sociales, como Instagram,
          YouTube, TikTok, etc.
        </li>
        <li>
          <strong>Publicidad en nuestros medios de comunicación:</strong>
          Anuncios en emisoras de radio locales o canales de televisión
          regionales para llegar a un amplio público.
        </li>
      </ul>
    </div>
    <app-contacto></app-contacto>
  </div>
</main>
