:root{
    /* PALETA DE COLORES */
    --color-principal: #06342D;
    --color-secundario-1: #005523;
    --color-secundario-2: #FAB41E;
    --color-detalle-1: #C9DF8A;
    --color-detalle-2: #F0F7DA;
    --color-apoyo-1: #111111;
    --color-apoyo-2: #EEEEEE;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, Arial;
}

html {
    background-color: #EEEEEE;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #151515;
    font-weight: 600;
}

a:hover {
    cursor: pointer;
    color: #333333;
}

main {
    max-width: 1250px;
    margin: 30px 50px;
}

h1 {
    text-align: center;
}

footer {
    width: 100%;
}


/* --------------------------------------------- */
/* --- RESPONSIVE DESIGN CSS --- */
/* --------------------------------------------- */
@media (max-width: 1115px) {
    main {
        margin: 30px 20px;
        width: 90%;
    }
}
