<main>
    <div class="container">
        <h1>Política de Privacidad</h1>
        <p>
            En esta sección se describe cómo se manejan los datos personales de
            los usuarios que visitan nuestro sitio web.
        </p>
        <h2>Recopilación de Información</h2>
        <p>
            Recopilamos información personal identificable, como nombres,
            direcciones de correo electrónico, etc., solo cuando los usuarios nos
            la proporcionan voluntariamente.
        </p>
        <h2>Uso de la Información</h2>
        <p>
            La información que recopilamos se utiliza para mejorar la experiencia
            del usuario y personalizar el contenido y la publicidad en nuestro
            sitio web.
        </p>
        <h2>Divulgación a Terceros</h2>
        <p>
            No vendemos, comerciamos ni transferimos de ninguna manera información
            de identificación personal a terceros.
        </p>
        <h2>Seguridad de la Información</h2>
        <p>
            Implementamos medidas de seguridad para proteger la información
            personal contra accesos no autorizados o alteraciones.
        </p>
        <h2>Cambios en la Política de Privacidad</h2>
        <p>
            Nos reservamos el derecho de actualizar o cambiar nuestra política de
            privacidad en cualquier momento y se notificará a los usuarios en esta
            página.
        </p>
        <h2>Contacto</h2>
        <p>
            Si tiene alguna pregunta sobre nuestra política de privacidad, no dude
            en contactarnos a través de nuestro sitio web.
        </p>
    </div>
</main>